/* BASE STYLES
============================================================================= */
html         { overflow-y:scroll; }
.page        {
  bottom:0;
  padding-top:50px;
  position:absolute;
  text-align:center;
  top:0;
  width:100%;
}

.page h1 	{ font-size:90px;
  color:rgba(0, 0, 0, 0.29); }
.page a     { margin-top:50px; }
#about      { color:#333; position:absolute; text-align:center; top:50px; width:100%; }

/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*height: 100%;*/
/*}*/

/*#background {*/
  /*background: url('https://s-media-cache-ak0.pinimg.com/originals/16/47/83/1647832206cd687d622f1826b68c304f.jpg');*/
  /*background-size: 100%;*/
  /*width: 100%;*/
  /*height: 100%;*/
  /*!*min-height:100%;*!*/
/*}*/

/* PAGES
============================================================================= */
.page-view1 		{ padding-top:50px; color:#00907c;
  background-image:url(https://s-media-cache-ak0.pinimg.com/originals/de/7a/ca/de7aca530d52e5fbab364cb83d99f082.jpg);
  /*background-image:url(https://s-media-cache-ak0.pinimg.com/originals/c7/eb/aa/c7ebaa5445e78beb5390a6cb12cf4a21.jpg);*/
  /*background-image:url(https://s-media-cache-ak0.pinimg.com/originals/16/47/83/1647832206cd687d622f1826b68c304f.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
}
.page-view2 	{ background:#E59400; color:#a55400; }
.page-codeview 	{ background:#ffa6bb; color:#9e0000; }

/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-view1.ng-leave         {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: rotateFall 1s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: rotateFall 1s both ease-in;
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in;
}
.page-view1.ng-enter 		{
  -webkit-animation:scaleUp 0.5s both ease-in;
  -moz-animation:scaleUp 0.5s both ease-in;
  animation:scaleUp 0.5s both ease-in;
}

/* about ------------------------ */
.page-view2.ng-leave        {
  -webkit-animation:slideOutLeft 0.5s both ease-in;
  -moz-animation:slideOutLeft 0.5s both ease-in;
  animation:slideOutLeft 0.5s both ease-in;
}
.page-view2.ng-enter 		{
  -webkit-animation:slideInRight 0.5s both ease-in;
  -moz-animation:slideInRight 0.5s both ease-in;
  animation:slideInRight 0.5s both ease-in;
}

/* contact ---------------------- */
.page-codeview.ng-leave      {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotateOutNewspaper .5s both ease-in;
  -moz-transform-origin: 50% 50%;
  -moz-animation: rotateOutNewspaper .5s both ease-in;
  transform-origin: 50% 50%;
  animation: rotateOutNewspaper .5s both ease-in;
}
.page-codeview.ng-enter 		{
  -webkit-animation:slideInUp 0.5s both ease-in;
  -moz-animation:slideInUp 0.5s both ease-in;
  animation:slideInUp 0.5s both ease-in;
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% { -webkit-transform: rotateZ(0deg); }
  20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
  40% { -webkit-transform: rotateZ(17deg); }
  60% { -webkit-transform: rotateZ(16deg); }
  100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
  0% { -moz-transform: rotateZ(0deg); }
  20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
  40% { -moz-transform: rotateZ(17deg); }
  60% { -moz-transform: rotateZ(16deg); }
  100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
  0% { transform: rotateZ(0deg); }
  20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40% { transform: rotateZ(17deg); }
  60% { transform: rotateZ(16deg); }
  100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
  from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
  from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
  from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
  from 	{ transform:translateX(100%); }
  to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from 	{ -moz-transform:translateX(100%); }
  to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from 	{ -webkit-transform:translateX(100%); }
  to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from 	{ transform:translateY(100%); }
  to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from 	{ -moz-transform:translateY(100%); }
  to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from 	{ -webkit-transform:translateY(100%); }
  to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to 		{ -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
  to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
  to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}


/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

