<p>This is the partial for view 1.</p>


<div class="container-fluid">

    <div>
        <script type="text/ng-template" id="alert.html">
            <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
                <div ng-transclude></div>
            </div>
        </script>

        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
        <uib-alert template-url="alert.html">A happy alert!</uib-alert>
        <button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>
    </div>

    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            Search: <input ng-model="query" ng-mouseover="setScenario(2)">
            Sort by:
            <select ng-mouseover="setScenario(3)" ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>
            <ul class="tabs">
                <li><a href="#tab1">Test Scenario</a></li>
            </ul>
            <div class="code">
                <code>
<pre ng-bind="scenario">
</pre>
                </code>
            </div>
            </tab>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <!--Body content-->

            <ul class="phones">
                <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
                    class="thumbnail phone-listing">
                    <a ng-click="setScenario(5)" href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
                    <a ng-mouseover="setScenario(4)" ng-click="setScenario(5)" href="#/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>

